{{define "content"}}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card my-2">
        <div class="card-header">
          Confirmação
        </div>
        <div class="card-body text-center">
          <h3>Seu e-mail foi confirmado com sucesso!</h3>
          <h6>Seja bem vindo ao seu novo app de despesas.</h6>
        </div>
        <div class="card-footer text-center">
          <small>TaPaggu, seu app de despesas.</small>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}
{{define "js"}}{{end}}