{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>TaPaggu, seu app de despesas.</title>
  <style>
    body {
      font-family: 'Source Sans Pro', sans-serif;
      background-color: #e9ecef;
    }
  </style>
</head>

<body>
  {{template "content" .}}
  {{template "js"}}
</body>

</html>
{{end}}