{{define "content"}}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card my-2">
        <div class="card-header">
          Atualização de senha
        </div>
        <div class="card-body text-center">
          <p>Sua senha foi atualizada com sucesso.</p>
        </div>
        <div class="card-footer text-center">
          <small>TaPaggu, seu app de despesas.</small>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}
{{define "js"}}{{end}}